{% extends 'base.html' %}

{% load staticfiles %}

{% block main %}
<article class="about">

            <header class="entry-header">

            <h1 class="entry-title">Contact</h1>
			<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'blog/img/me.jpg' %}" alt="Developer Image">
			</div>
			<div><p>如果你认为有必要同博主联系，这里是博主的一些联系方式，Github地址：https://github.com/wangcanqiang；邮箱：1241466319@qq.com。</p></div>
</article>

{% endblock main %}


